{% extends "layout.html" %}
{% block content %}

<header class="masthead d-flex">
      <div class="container text-center my-auto">

	<h3><a href="{{ url_for('index') }}">Home</a></h3>
	<h1>{{user.username}} 's Posts </h1>


  <div class="container text-center my-auto">
     <br>
        <div class="col-lg-8 mx-auto" class="page-title">

              <div style="padding-top:30;
              padding-bottom:30;
              background-color:#ffffff55;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;">


               <!-- List posts -->
               {% for p in posts %}
                <p>Author@{{ p.author }}: {{ p.content }}</p>
                {% endfor %}

                {% if followed is defined %}
                		{% if followed %}
                			<form action="/unfollow/{{user.username}}" method="POST">
                     		<button class="btn btn-primary btn-lg" type="submit"> Unfollow </button>
                   		</form>
                		{% else %}
                			<form action="/follow/{{user.username}}" method="POST">
                     		<button class="btn btn-primary btn-lg" type="submit"> Follow </button>
                   		</form>
                		{% endif %}
                {% endif %}
            </div>
             <br>
          </div>


    <!-- Unfollow/Follow button -->


 </div>
</header>


{% endblock %}
